# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
[Oo]bj
[Bb]in

# mstest test results
TestResults

#resharper stuff
_ReSharper*
*.resharper

#various VS junk
*.user
*.suo
*.[Cc]ache

#partcover stuff
*PartCover*